:host {
  display: flex;
  overflow: hidden;
}
.grid {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid #ccc;
  background: white;
}

table {
  border-spacing: 0;
  cursor: default;
  table-layout: fixed;
}
td {
  padding: 0;
  overflow: hidden;
}

.fixed {
  overflow: hidden;
}
.grid-top {
  display: flex;
  flex-shrink: 0;
}
.top-left {
  flex-shrink: 0;
}
.grid-content {
  flex: 1;
  display: flex;
}
.scrollable {
  flex: 1;
  overflow: scroll;
  position: relative;
}

.header td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
}
tr.header td.selected {
  background: #ddd;
}
.header td .resizer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 3px;
  cursor: col-resize;
}

.fixed tr.row td.selected {
  background: #ddd;
}

.row td {
  padding: 3px 8px;
  border-bottom: 1px solid #d9dcde;
  border-right: 1px solid #ddd;
  position: relative;
}
.row:nth-child(even) {
  background: #ecf1f7;
}
.data-table tr.row td.selected:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #005eff;
  opacity: .1;
  /* ie11 - fix td height past content size */
  height: 999em;
}


.edit-cell {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.selections {
  position: absolute;
  top: 0;
  left: 0;
}
.selection-border {
  position: absolute;
  background-color: rgb(75, 137, 255);
  display: block;
}
