<div #grid class="grid" tabindex="0">
  <grid-selection [gridElementRef]="elementRef"
    [columns]="columns" [rowHeights]="rowHeights" [rowTops]="rowTops" 
    (selection)="onSelection($event)" (focus)="onFocus($event)">
  </grid-selection>
  <grid-editing [gridElementRef]="elementRef" 
    [data]="data" [columns]="columns" [selectionRanges]="selectionRanges"
    [editingCell]="editingCell" (editCellChange)="onEditCell($event)" (dataChange)="onDataChange($event)">
  </grid-editing>
  <grid-resizing [gridElementRef]="elementRef" [columns]="columns"></grid-resizing>
  <div class="grid-top">
    <div class="fixed top-left">
      <table [style.width]="fixedWidth ? fixedWidth + 'px' : 'auto'">
        <colgroup>
          <col *ngFor="let col of fixedColumns; let colIdx = index" [style.width]="col.renderedWidth ? col.renderedWidth + 'px' : 'auto'">
        </colgroup>
        <tbody>
          <tr class="header" #fixedHeader [style.height]="headerHeight ? headerHeight + 'px' : 'auto'">
            <td *ngFor="let col of fixedColumns; let colIdx = index" [ngClass]="col.cssCls">
              <div><ng-template *ngTemplateOutlet="col.headerRef; context: {$implicit: col}"></ng-template></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="fixed" #headerScroll>
      <table [style.width]="totalWidth ? totalWidth + scrollbarWidth + 'px' : 'auto'">
        <colgroup>
          <col *ngFor="let col of columns; let colIdx = index" [style.width]="col.renderedWidth ? col.renderedWidth + 'px' : 'auto'">
          <col *ngIf="scrollbarWidth" [style.width]="scrollbarWidth + 'px'">
        </colgroup>
        <tbody>
          <tr class="header" #header [style.height]="headerHeight ? headerHeight + 'px' : 'auto'">
            <td *ngFor="let col of columns; let colIdx = index"
              [ngClass]="col.cssCls" [class.selected]="selectionCols[colIdx]"
              data-type="col"
              [attr.data-col]="colIdx">
              <div><ng-template *ngTemplateOutlet="col.headerRef; context: {$implicit: col}"></ng-template></div>
              <div class="resizer ge-no-select"></div>
            </td>
            <td *ngIf="scrollbarWidth">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="grid-content">
    <div class="fixed" #fixedScroll>
      <table [style.width]="fixedWidth ? fixedWidth + 'px' : 'auto'">
        <colgroup>
          <col *ngFor="let col of fixedColumns; let colIdx = index" [style.width]="col.renderedWidth ? col.renderedWidth + 'px' : 'auto'">
        </colgroup>
        <tbody>
          <tr *ngFor="let row of data; let rowIdx = index" class="row" [attr.data-row]="rowIdx" 
            [ngClass]="rowCssCls && rowCssCls[rowIdx]"
            [style.height]="rowHeights[rowIdx] ? rowHeights[rowIdx] + 'px' : 'auto'">
            <td *ngFor="let col of fixedColumns; let colIdx = index" 
              [ngClass]="col.cssCls" [class.selected]="selectionRows[rowIdx]" data-type="row">
              {{row[col.dataField]}}
            </td>
          </tr>
          <tr [style.height]="scrollbarWidth + 'px'"><td></td></tr>
        </tbody>
      </table>
    </div>
    <div class="scrollable data-table" #tableScroll>
      <table [style.width]="totalWidth ? totalWidth + 'px' : 'auto'">
        <colgroup>
          <col *ngFor="let col of columns; let colIdx = index" [style.width]="col.renderedWidth ? col.renderedWidth + 'px' : 'auto'">
        </colgroup>
        <tbody>
          <tr *ngFor="let row of data; let rowIdx = index" class="row" [attr.data-row]="rowIdx"
            [ngClass]="rowCssCls && rowCssCls[rowIdx]"
            [style.height]="rowHeights[rowIdx] ? rowHeights[rowIdx] + 'px' : 'auto'">
            <td *ngFor="let col of columns; let colIdx = index" 
              [ngClass]="col.cssCls" 
              [class.selected]="selectionCells[rowIdx] && selectionCells[rowIdx][colIdx]"
              [class.ge-no-edit]="col.allowEditing === false"
              data-type="cell"
              [attr.data-col]="colIdx">
              <div *ngIf="editingCell?.row == rowIdx && editingCell?.col == colIdx" class="edit-cell ge-no-select">
                <ng-template *ngTemplateOutlet="col.editorRef; context: {$implicit: editingCell}"></ng-template>
              </div>
              <span>{{row[col.dataField]}}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="selections">
        <ng-template #selectionRef let-range="range" let-thickness="thickness">
          <div class="selection-border" [style.height]="thickness + 'px'" 
            [style.top]="range.top + 'px'" [style.left]="range.left + 'px'" [style.width]="range.width + 'px'"></div>
          <div class="selection-border" [style.height]="thickness + 'px'" 
            [style.top]="(range.top + range.height - 2) + 'px'" [style.left]="range.left + 'px'" [style.width]="range.width + 'px'"></div>
          <div class="selection-border" [style.width]="thickness + 'px'" 
            [style.top]="range.top + 'px'" [style.left]="range.left + 'px'" [style.height]="range.height + 'px'"></div>
          <div class="selection-border" [style.width]="thickness + 'px'" 
            [style.top]="range.top + 'px'" [style.left]="(range.left + range.width - 2) + 'px'" [style.height]="range.height + 'px'"></div>
        </ng-template>
        <ng-container *ngIf="focusCell">
          <ng-container *ngTemplateOutlet="selectionRef; context: {
            range: focusCell,
            thickness: 2
          }"></ng-container>
        </ng-container>
        <ng-container *ngFor="let range of selectionRanges">
          <ng-container *ngTemplateOutlet="selectionRef; context: {
            range: range,
            thickness: 1
          }"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>