
<grid-editor [data]="data" (onEditStart)="onEditStart($event)">
  <grid-column *ngFor="let col of columns"
    [dataField]="col.dataField"
    [description]="col.description"
    [width]="col.width"
    [data]="col"
  >
    <div *geTemplate="let item of 'header'">
      <div class="ge-no-select" style="padding: 5px 8px; white-space: nowrap;">{{item.description}}</div>
    </div>
    <div *geTemplate="let item of 'editor'; let col=col">
      <input style="width: 100%;" type="text" [value]="item[col.dataField]">
    </div>
  </grid-column>
</grid-editor>