
<div class="tabs">
  <div *ngFor="let tab of tabs; let tabIdx = index" (click)="currentTab = tab">Tab {{tabIdx}}</div>
  <div (click)="modifyData()">modifyData</div>
  <div (click)="toggleVisible()">toggleVisible</div>
</div>
<grid-editor [data]="currentTab.data" (onEditStart)="onEditStart($event)" (selection)="onSelect($event)">
  <grid-column *ngFor="let col of currentTab.columns"
    [dataField]="col.dataField"
    [description]="col.description"
    [width]="col.width"
    [fixed]="col.fixed"
    [allowEditing]="col.allowEditing"
    [visible]="col.visible"
    [cssCls]="col.cssClass"
    [data]="col"
  >
    <div *geTemplate="let item of 'header'">
      <div class="ge-no-select1" style="padding: 5px 8px; white-space: wrap;">{{item.description}}</div>
    </div>
    <ng-container *geTemplate="let item of 'editor'">
      <input style="width: 100%; height: 100%;" type="text" [(ngModel)]="item.value">
    </ng-container>
  </grid-column>
</grid-editor>