
<grid-editor [data]="data" (onEditStart)="onEditStart($event)">
  <grid-column *ngFor="let col of columns"
    [dataField]="col.dataField"
    [description]="col.description"
    [width]="col.width"
    [fixed]="col.fixed"
    [data]="col"
  >
    <div *geTemplate="let item of 'header'">
      <div class="ge-no-select1" style="padding: 5px 8px; white-space: wrap;">{{item.description}}</div>
    </div>
    <ng-container *geTemplate="let item of 'editor'">
      <input style="width: 100%; height: 100%;" type="text" [(ngModel)]="item.data[item.column.dataField]">
    </ng-container>
  </grid-column>
</grid-editor>